#Lives in ~/.config/systemd/user
#systemctl --user --now start syncthing
[Unit]
Description=Syncthing

[Service]
ExecStart=/usr/bin/syncthing

[Install]
WantedBy=default.target
